
:root {
	--pink: hsl(322, 100%, 66%);
	--paleCyan: hsl(193, 100%, 96%);
	--darkCyan: hsl(192, 100%, 9%);
	--blueish: hsl(208, 11%, 55%);
}

header {
    background-image: url(/images/bg-hero-desktop.svg);
    background-size: cover;
    background-position: center;
    background-color:hsl(193, 100%, 96%);
}

body{

    font-family: 'Open Sans', sans-serif;
    margin: 0;
    color: var(--darkCyan);
}

h1,
h2 {
  font-family: 'Poppins', sans-serif;
  color: black;
}

.topHeader{
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
   
}
